### 忽略服务 ###
/dtm-*

### build ###
*/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Compiled class files ###
*.class

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### macOS ###
.DS_Store

### log ###
*.log
/target/
